.feedback{
    display:block;
    z-index: 10;
}
input{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.formContainer{
    margin-right: 20px;
}
#phone{
    width: 50px;
}
#submit{
    background-color: rgb(96, 173, 19);
    color: floralwhite;
    border-radius: 5px;
}